.navbar {
  background-color: white;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navitem {
  font-weight: bold;           
  margin: 0 1rem;
  position: relative;
  padding: 0 1rem;
  cursor: pointer;
}

.navitem a {
  text-decoration: none;
  color: #000000; 
  font-weight: bold; 
}
.navitem a:hover {
  color: #000000; 
}
.navitem.active a {
  color: #000000; 
}

.navitem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: #5deff8;
  border-radius: 2px;

 
  opacity: 0;
  transition: opacity 0.2s;
}


.navitem:hover::after {
  opacity: 1;
}
